@model List<PropertyStop_UI.Dtos.PropertyAmenityDtos.ResultPropertyAmenityByStatusTrueDto>

<div class="single-bg-white">
    <h3 class="post-content-title mb-4">Sahip Olacaklarınız</h3>
    <ul class="details-list">
        @foreach (var item in Model)
        {
            <li><strong>@item.Title</strong></li>
        }
    </ul>
</div>